ungrouped-mapping/split-bams-all/Newman-min10-R03.bam filter=lfs diff=lfs merge=lfs -text
ungrouped-mapping/split-bams-all/Newman-min30-R03.bam filter=lfs diff=lfs merge=lfs -text
ungrouped-mapping/split-bams-all/Newman-min5-R01.bam filter=lfs diff=lfs merge=lfs -text
ungrouped-mapping/split-bams-all/Newman-control-R03.bam filter=lfs diff=lfs merge=lfs -text
ungrouped-mapping/split-bams-all/Newman-min10-R02.bam filter=lfs diff=lfs merge=lfs -text
ungrouped-mapping/split-bams-all/Newman-min2-R03.bam filter=lfs diff=lfs merge=lfs -text
ungrouped-mapping/split-bams-all/Newman-min20-R02.bam filter=lfs diff=lfs merge=lfs -text
ungrouped-mapping/split-bams-all/Newman-control-R01.bam filter=lfs diff=lfs merge=lfs -text
ungrouped-mapping/split-bams-all/Newman-min2-R01.bam filter=lfs diff=lfs merge=lfs -text
ungrouped-mapping/split-bams-all/Newman-min20-R01.bam filter=lfs diff=lfs merge=lfs -text
ungrouped-mapping/split-bams-all/Newman-min20-R03.bam filter=lfs diff=lfs merge=lfs -text
ungrouped-mapping/split-bams-all/Newman-min5-R03.bam filter=lfs diff=lfs merge=lfs -text
ungrouped-mapping/split-bams-all/Newman-control-R02.bam filter=lfs diff=lfs merge=lfs -text
ungrouped-mapping/split-bams-all/Newman-min10-R01.bam filter=lfs diff=lfs merge=lfs -text
ungrouped-mapping/split-bams-all/Newman-min30-R02.bam filter=lfs diff=lfs merge=lfs -text
ungrouped-mapping/split-bams-all/Newman-min5-R02.bam filter=lfs diff=lfs merge=lfs -text
ungrouped-mapping/split-bams-all/Newman-min2-R02.bam filter=lfs diff=lfs merge=lfs -text
ungrouped-mapping/split-bams-all/Newman-min30-R01.bam filter=lfs diff=lfs merge=lfs -text
